<div class="container">
  <div class="title">
    <h2>
      <mat-icon>shopping_cart</mat-icon> Your Cart
    </h2>
    <h2 class="total">{{cart[1].totalPrice | currency:"USD":"symbol" :'1.2-2'}}</h2>
  </div>

  <div class="content">
    <div class="items" *ngIf="cart[0].dishes.length != 0; else getSomeOrder">
      <ul>
        <li class="item" *ngFor="let dish of cart[0].dishes">
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>{{dish.dish}}</mat-card-title>
              <mat-card-subtitle>Quantity : {{dish.quantity}}</mat-card-subtitle>
              <mat-card-subtitle> Single Item Price :
                <button class='btnPrice' mat-button>
                  {{dish.price}}
                </button>
              </mat-card-subtitle>
              <img mat-card-sm-image src="https://random.imagecdn.app/50/50">
            </mat-card-title-group>
            <mat-card-actions>
              <button mat-button (click)="onModifyQuantity(dish)">
                <mat-icon>edit</mat-icon> Modify Quantity
              </button>
              <button mat-button (click)="onDeleteDish(dish)">
                <mat-icon>remove_shopping_cart</mat-icon> Delete
              </button>
            </mat-card-actions>
          </mat-card>
        </li>

      </ul>
    </div>
    <ng-template #getSomeOrder>
      <div class="getSomeOrder">
        <h2>Aren't You Hungry?</h2>
        <h4>Go To Choose Between All The <a routerLink="/dishes">Dishes</a></h4>
      </div>

    </ng-template>
    <div class="procedToOrder" *ngIf="cart[0].dishes.length != 0">
      <button class="order" mat-button routerLink="payment">
        Order <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</div>
