.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container {
  margin: 20px;
}

.card {
  margin: 20px;
}

a {
  color: black;
}

.btnA {
  text-decoration: none;
}

.btnPrice {
  background-color: rgba(0, 200, 0, 0.518);
}

.btnDishPage {
  background-color: rgba(255, 255, 0, 0.1);
}