<div class="display">
  <div class="container">
    <div class="img">
      <img
        src="https://img.favpng.com/12/22/4/computer-icons-avatar-user-profile-png-favpng-3p1iZVKa5YWcfPt11TumPDH30.jpg"
        alt="">
    </div>



    <div class="content">
      <h1>Hi,{{profile.first_name}}! Are you Hungry?</h1>
      <h2>Here are your personal informations</h2>
      <ul>
        <li>
          <h3 class="title">Your Last Name : <span>{{profile.last_name}}</span></h3> <button mat-button>Change</button>
        </li>
        <li>
          <h3 class="title">Your Email : <span>{{profile.email}}</span></h3> <button mat-button>Change Email</button>
        </li>
        <li>
          <h3 class="title">Password : </h3><button mat-button>Change Your Password</button>
        </li>
      </ul>
    </div>
  </div>
</div>
