<div class="nav">
  <div class="items">
    <button mat-button>
      <a routerLink="homepage">
        <mat-icon>home</mat-icon>Home
      </a>
    </button>
    <button mat-button>
      <a>
        <mat-icon>add_shopping_cart</mat-icon>Cart
      </a>
    </button>
    <button mat-button>
      <a routerLink="dishes">
        <mat-icon>fastfood</mat-icon>Dishes
      </a></button>
    <button mat-button>
      <a>
        <mat-icon>person</mat-icon>Profile
      </a>
    </button>

  </div>
</div>