<div class="nav">
  <div class="logo">
    <h3>Order</h3>
  </div>
  <div class="items" *ngIf="user">

    <button mat-button>
      <a routerLink="dishes">
        <mat-icon>fastfood</mat-icon>Dishes
      </a></button>
    <button mat-button>
      <a routerLink="profile/cart">
        <mat-icon>shopping_cart</mat-icon>Cart
      </a>
    </button>
    <button mat-button>
      <a routerLink="profile">
        <mat-icon>person</mat-icon>Profile
      </a>
    </button>
    <button (click)="onLogOut()" mat-button>
      <a>
        LogOut
      </a>
    </button>
  </div>
  <div class="ac">
    <button mat-button *ngIf="!user">
      <a routerLink="login">
        Login<mat-icon>arrow_forward_ios</mat-icon>
      </a>
    </button>
    <button class="" mat-button>
      <a routerLink="signUp" *ngIf="!user">
        <mat-icon>fiber_new</mat-icon>SignUp
      </a>
    </button>
  </div>
</div>
